<h3 class='center'> Round 1 Pitches: </h3>
<div class='container'>
  <ul class='collection'>
  <% @pitches.each do |pitch| %>
      <li class='collection-item center'><%= link_to pitch.title, pitch_path(pitch.id) %> by <%= pitch.student.name %> (Vote Count: <%= pitch.votes.count %>)
      <p>
      <% if pitch.advancing %>
        <p><em> Advancing to Round 2 </em></p>
      <% else %>
        <% if round_two_maximum_met %>
          <p> Not chosen for Round 2 </p>
        <% else %>
          <strong><%= link_to 'Advance to Round 2', pitch_path(pitch), method: :put, data: { confirm: 'Are you sure you want to advance this project?' } %></strong>
        <% end %>
      <% end %>
      </li>
    <% end %>
    </ul>
</div>
