<h3 class='center'> Round 2 Pitches: </h3>
<div class = 'container'>
  <ul class='collection'>
<% @pitches.each_with_index do |pitch, i| %>
    <li class='collection-item center'><%= link_to pitch.title, pitch_path(pitch.id) %> by <%= pitch.student.name %> (Current Ranking: <%= i + 1 %> )
    <% if final_project_cap_met %>
      <p>Voting is closed!<p>
    <% elsif final_group_created(pitch) %>
      <p>Final Group Created</p>
    <% else %>
      <p><%= link_to 'Choose as final project', new_pitch_final_group_path(pitch)%></p>
      <% if leaders_already.include?(pitch.student)%>
        <em>Another pitch by this student has been chosen as a final project</em>
      <% end %>
    </li>
    <%end%>
  <% end %>
  </ul>

