<!DOCTYPE html>
<html>
  <head>
    <title>ProjectCEPTION</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <li>Home</li>
      <li>Register</li>
      <li>Login</li>
      <li>So-and-So's Dashboard</li>
      <li>Logout</li>
    </nav>
    <%= yield %>
  </body>
</html>
